.image-popup-container.active {
    position: fixed;
    left: 0;
    margin: 0px auto;
    right: 0;
    /* width: 90%; */
    top: 0;
    z-index: 999;
  }
  
  .image-popup-content>img {
    width: 100%;
    overflow-y: scroll;

  }
  
  .image-popup-content {
    height: 100vh;
    overflow: scroll;
}
button.close {
    position: absolute;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background: rebeccapurple;
    text-decoration: none;
    display: flex;
    font-size: 24px;
    top: 35px;
    right: 35px;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    justify-content: center;
  }