<!-- <p>course-info works!</p> -->

<div class="page_wrapper">
  <h1 class="page_heading">Courses List</h1>
  <div class="tab_container">
    <!-- <select class="theme_select col-m-100"  name="studentname.value" #myselect (change)="onSelectStudent(myselect.value)">
      <option value="">Select Student Name</option>
        <option *ngFor="let data of allStudentsInfo_uniq" [value]="data.user_id">
        {{ data.user_fullname }}
        </option>
    </select> -->
    <div class="row listItem" *ngIf="this.status == '203'">
      <h2>No Courses !</h2>
    </div>
    <div class="course_list">
      <!--------------- *ngIf="this.toDisplay"-->
      <div class="tab_button">
        <div class="row listItem" *ngIf="!hasNullValues()">
          <ng-container *ngFor="let item of this.courseListAll_uniq">
            <div
            class="courses_redi_card col-25"
            (click)="moduleGet(item.description)"
           
            [routerLink]="['course-user', item.course_id]"
            routerLinkActive="active"
            >
            <!-- [routerLink]="[
            'module-list',
            all_event,
            item.batch_id,
            item.course_id
          ]" -->
              <!-- <div class="tag_label">
        <h4>Registered</h4>
      </div> -->
              <div class="inner_redi_card">
                <div class="card_image">
                  <img
                    src="{{ this.base_url + item.slug }}"
                    alt=""
                    class="card_imgs"
                  />
                </div>
                <!-- <div class="title">
          <h2>{{ item.course_name }}</h2>
        </div> -->
                <div class="card_crd_txt">
                  <div class="card_crd_inner_txt">
                    <h2 class="course-name">{{ item.course_name }}</h2>
                    <p
                      class="course-description"
                      [innerHTML]="item.short_description
                      "
                    ></p>

                    <!-- <div class="author_section">
              <div class="author_image">
                <img src="../../../../../assets/img/people.png" alt="" srcset="">
              </div>
              <div class="author_content">
                <h4>Sweta Ramakrishna</h4>
              </div>
            </div> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- all-course-get-all -->
      <!-- <div class="row listItem">
    <ng-container  *ngFor="let item of this.courseListAll_uniq">
    <div class="courses_redi_card col-25"  (click)="moduleGet(item.description)"
    [routerLink]="['course-user', item.course_id]"
    routerLinkActive="active">

      <div class="inner_redi_card" >
        <div class="card_image">
          <img src="{{this.base_url+item.slug}}" alt="" class="card_imgs"/>
        </div>

        <div class="card_crd_txt">
          <div class="card_crd_inner_txt">
            <h2 class="course-name">{{ item.course_name }}</h2>
            <p  class="course-description" [innerHTML]="item.description"></p>


          </div>
        </div>
      </div>
    </div>
  </ng-container>
  </div> -->
    </div>
  </div>

  <!--
<div class="page_wrapper">
  <h1 class="page_heading">Courses List</h1>

  <div class="tab_container">
    <select class="theme_select col-m-100"  name="studentname.value" #myselect (change)="onSelectStudent(myselect.value)">
      <option value="">Select Student Name</option>
        <option *ngFor="let data of allStudentsInfo_uniq" [value]="data.user_id">
        {{ data.user_fullname }}
        </option>
    </select>
    <div class="tab_button"  *ngIf="this.toDisplay" >
      <div class="row   display_box ">
        <ng-container *ngFor="let item of courseList">
          <div
            (click)="moduleGet(item.description)"
            [routerLink]="['module-list', item.course_id]"
            routerLinkActive="active"
            class="col-25 col-m-50"
          >
            <div class="dashboard_option">
              <div
                class="dashBoardText"
                id="{{ item.course_name }}"
                attr.dataVal="{{ item.description }}"
              >
                <h3 id="{{ item.course_name }}" attr.dataVal="{{ item.description }}">
                  {{ item.course_name }} {{item.course_id}}
                </h3>
                <p attr.dataVal="{{ item.description }}">
                  <b id="{{ item.course_name }}"> {{ item.short_description }}</b>
                </p>
                <p id="{{ item.course_name }}" attr.dataVal="{{ item.description }}">

                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->
</div>
