.performance_common_head{
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.performance_common_head_sub{
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 23px;
}
.common_cont {
  width: 100%;
  margin-top: 20px;
  border: 1px solid var(--interactive);
  padding: 31px;
  border-radius: 16px;
}
