<div class="bar_group">
  <div class="ber_groupIinner" *ngIf="classNum === 1">
    <ul>
      <li class="ls_ber active_red"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 2">
    <ul>
      <li class="ls_ber active_red"></li>
      <li class="ls_ber active_red"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 3">
    <ul>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 4">
    <ul>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber active_orange"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 5">
    <ul>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 6">
    <ul>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber active_yellow"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 7">
    <ul>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 8">
    <ul>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber active_purple"></li>
      <li class="ls_ber"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum === 9">
    <ul>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber"></li>
    </ul>
  </div>

  <div class="ber_groupIinner" *ngIf="classNum >= 10">
    <ul>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
      <li class="ls_ber active_green"></li>
    </ul>
  </div>
</div>
