<!-- <p>login works!</p> -->
<!-- <app-alert *ngIf="is_logedInError"></app-alert>
<app-loader *ngIf="login_loader"></app-loader> -->
<div class="login_signup_outer_cont">
  <div class="log_sign_cont">
    <div class="log_sign_cont_left">
      <div class="inner_log_sign_cont_left">
        <img alt="logo" src="./assets/img/logo1.png" class="logp" />
        <!-- <h2>
          Start your free <br />
          trial.
        </h2> -->
        <p>"Unlock the melody within you and
          embark on a harmonious journey.</p>

        <!-- <button class="button_primary white" (click)="redirect()">
          Register
        </button>
        <button class="button_primary white lg-in" (click)="login_redirect()">
          Login
        </button> -->
      </div>
    </div>
    <div class="log_sign_input_cont">
      <div class="inner_log_sign_input_cont">
        <h3>Forgot Password</h3>
        <p>
          <!-- Have a Account? Now you can explore<br /> our vast
            options of customisation of QR. <br /><br />
            <span>Login from here.</span> -->
        </p>
        <div class="form_cont_log_sign">
          <form [formGroup]="forgotPass" (ngSubmit)="onSubmit()">
            <div class="form_col col_hundred">
              <label class="user-txt">Type Your Email Address or Username</label>
              <input
                type="text"
                placeholder="Email or Username"
                formControlName="email"
                name="username"
                id="username"
                ng-required="Myvar"
                [ngClass]="{
                  error:
                    getControl('email')?.errors && getControl('email')?.touched
                }"
              />
              <h4 class="mesg" *ngIf="this.check" >{{this.all.body.message}}</h4>
              <!-- <span id="check"  *ngIf="this.check"  class="checkk"> Check Your Email</span> -->
            </div>
            <br />
            <div class="form_col col_hundred submit_button_cont">
              <button class="button_primary  login_btn" >Change Password</button>
            </div>
            <div class="signup">
              <P class="account_text">Already have an account?  
                <a class="login-text" (click)="login_redirect()">Login</a> </P> 
            
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- routerLink="/updatepassword" -->

<!-- <router-outlet></router-outlet> -->