

<div class="login_signup_outer_cont update-form">
    <div class="log_sign_cont">

        <div class="log_sign_input_cont for-register">
            <div class="inner_log_sign_input_cont for-register">
                <h3>Update Profile</h3>
                <p>
                    <!-- Have a Account? Now you can explore<br /> our vast
        options of customisation of QR. <br /><br />
        <span>Login from here.</span> -->
                </p>
                <div class="form_cont_log_sign for-register">
                    <form >
                        <!-- <div class="form_col col_fifty">
                            <label>user_type_id</label> -->
                            <!-- <input type="text" ngModel placeholder="user type id" name="user_type_id" id="user_type_id" /> -->
                            <!-- <select class="theme_select col-m-100">
                                <option name="user_type_id" id="user_type_id"></option>
                               
                              </select>
                        </div> -->
                        <!-- <div class="form_col col_fifty">
                            <label>user_pronoun_id</label> -->
                            <!-- <input type="text" ngModel placeholder="user pronoun id" name="user_pronoun_id" id="user_pronoun_id" /> -->
                            <!-- <select class="theme_select col-m-100">
                                <option name="user_pronoun_id" id="user_pronoun_id" ></option>
                               
                              </select>
                        </div> -->
                        <div class="form_col col_fifty">
                            <label>First Name</label>
                            <input type="text" ngModel placeholder="First Name" name="first_name" id="first_name" />
                        </div>
                        <!-- <div class="form_col col_fifty">
                            <label>Middle Name</label>
                            <input type="text" ngModel placeholder="Middle Name" name="middle_name" id="middle_name" />
                        </div> -->
                        <div class="form_col col_fifty">
                            <label>Last Name</label>
                            <input type="text" ngModel placeholder="Last Name" name="last_name" id="last_name" />
                        </div>
                        <!-- <div class="form_col col_fifty">
                            <label>User Name</label>
                            <input type="text" ngModel placeholder="User Name" name="username" id="username" />
                        </div> -->
                        <!-- <div class="form_col col_fifty">
                            <label>Email</label>
                            <input type="text" ngModel placeholder="Email" name="email" id="email" />
                        </div> -->
                        <div class="form_col col_fifty">
                            <label>Phone No</label>
                            <input type="text" ngModel placeholder="Phone No" name="phone_no" id="phone_no" />
                        </div>
                        <div class="form_col col_fifty">
                            <label>Old Password</label>
                            <input type="password" ngModel placeholder="Old Password" name="password" id="password" />
                        </div>
                        <div class="form_col col_fifty">
                            <label>New Password</label>
                            <input type="password" ngModel placeholder="New Password" name="password" id="password" />
                        </div>
                        <!-- <div class="form_col col_fifty">
                            <label>City</label>
                            <input type="text" ngModel placeholder="city" name="city" id="city" />
                        </div>
                        <div class="form_col col_fifty">
                            <label>State</label>
                            <input type="text" ngModel placeholder="state" name="state" id="state" />
                        </div> -->
                        <!-- <div class="form_col col_fifty">
                            <label>Country</label>
                            <input type="text" ngModel placeholder="country" name="country" id="country" />
                        </div> -->
                        <!-- <div class="form_col col_fifty">
                            <label>Postal code</label>
                            <input type="text" ngModel placeholder="Postal code" name="postal_code" id="postal_code" />
                        </div>
                        <div class="form_col col_fifty">
                            <label>Address</label>
                            <input type="text" ngModel placeholder="Address" name="address" id="address" />
                        </div>
                        <div class="form_col col_fifty">
                            <label>Date of Birth</label>
                            <input type="text" ngModel placeholder="dob" name="dob" id="dob" />
                        </div> -->
                        <br />
                        <div class="form_col col_hundred submit_button_cont">
                            <button class="button_primary">
              Update 
            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>