<div class="page_wrapper">
  <h1 class="page_heading">{{ course_name }}</h1>

  <div class="tab_container">
    <div class="tab_button  tab_section_area">
      <div class="row">
        <ng-container *ngFor="let level of courseLevel; let i = index">
          <div class="">
            <button
              class="custom_tab_section"
              id="{{ level.id }}"
              [class.active]="selectedIndex === i"
              (click)="getModuleByLevel(level.id, i)"
            >
              {{ level.level }}
             
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="tab_body">
      
      <div class="row" *ngIf="this.response_lavel=='200';">
        <ng-container *ngFor="let item of courseList.data">
          <div
            [routerLink]="['course-show',item.course_level_id,item.id]"
            routerLinkActive="active"
            class="col-25 col-m-50"
          >
            <div class="dashboard_option">
              <div class="dashBoardText" id="{{ item.course_id }}">
                <h3>{{ item.name }}</h3>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container  *ngIf="this.response_lavel=='203';">
<h2 style="text-align:center">{{this.msg}}</h2>
      </ng-container>
    </div>
  </div>
</div>
